
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Category/Viewcreate" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-calendar-plus"></i></a>
<table class="table">
    <tr>
        <th>
            Thể Loại
        </th>
        <th>
            Ảnh 1
        </th>
        <th>
            Ảnh 2
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Năm sx
        </th>
        <th>
            Thao tác
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CategoryName
            </td>
            <td>
                <img src=" @item.imgcate" width="300px" height="300px" style="margin-left:5px" />
            </td>
            <td>
                <img src=" @item.imghot" width="300px" height="300px" style="margin-left:5px" />
            </td>
            <td>
                @item.trangthai
            </td>
            <td>
                @item.namphathanh
            </td>
            <td>
                <a href="/Category/Delete?id=@item.CategoryId" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-trash-alt"></i></a>
                <a href="/Category/Detail?id=@item.CategoryId" class="btn btn-danger btn-sm" style="color:white"><i class="fas fa-info-circle"></i></a>
            </td>
        </tr>
    }
</table>
