@model webtruyen.ModelFake6.Getup
@{
    ViewBag.Title = "Viewupdate";
}

<h2>Viewupdate</h2>
<div style="margin-left:20%;background-color:sandybrown;width:50%">
    <form action="/Anhbia/Update" method="post" enctype="multipart/form-data">
        <label>ID</label>
        <input type="text" class="form-control" name="Idbia" value="@Model.Idanhbia" readonly />
        <label>Mã bìa</label>
        <input type="text" class="form-control" name="tenanhbia" value="@Model.Nameanhbia" readonly />
        <label>Trích dẫn</label>
        <br />
        <select name="trichdan">
            @foreach (var item in @ViewData["demo11"] as List<webtruyen.Models.Story>)
            {
                <option @(item.StoryId == Model.StoryId ? "selected" : "") value="@item.StoryId">@item.StoryName</option>
            }
        </select>
        <br />
        <label>Ảnh</label>
        <input type="file" class="form-control" name="anhbia" />
        <label>Ngày Tạo</label>
        <input type="date" class="form-control" name="ngaytaoanhbia" />
        <label>Thể loại</label>
        <br />
        <select name="theloaibia">
            @foreach (var item in @ViewData["demo12"] as List<webtruyen.Models.Category>)
            {
                <option @(item.CategoryId == Model.CategoryId ? "selected" : "") value="@item.CategoryId">@item.CategoryName</option>
            }
        </select>
        <br />
        <label>Mô tả</label>
        <textarea name="motaanhbia" class="form-control">
        
        </textarea>
        <button type="submit" class="btn-danger" onclick="clickk()">Tạo</button>
    </form>
</div>
<script src="~/Content/Ckeditor/ckeditor/ckeditor.js">

</script>
<script>
    CKEDITOR.replace('motaanhbia')
</script>
